aws_region          = "ap-south-1"
environment         = "prod"
cluster_name        = "complete-eks-platform"
cluster_version     = "1.36"
vpc_cidr            = "10.0.0.0/16"
domain_name         = "faisal.host"
subdomain           = "eks.faisal.host"
node_instance_types = ["t3.medium"]
desired_nodes       = 2
